doctype html
html
  head
    title= "Thunder"
    link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon') 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,700,400')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Amaranth:400,700')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places')
    script(type='text/javascript', src='/js/script.js')
  body
    block content