// Foutmelding tonen, indien aanwezig.
// ingelogde account tonen met logout link
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content