// Foutmelding tonen, indien aanwezig.
// ingelogde account tonen met logout link
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
    script(type='text/javascript', src='/js/script.js')
  body
    if session && session.last_error
      = session.last_error

    if session && session.user
      | Ingelogd als #{session.user.alias} (#{session.user.fbid}) (
      a(href='/login/logout') Uitloggen
      | )
    block content