extends layout

block content
  #wrapper
    #header
        #logo
        #facebook
            include ./includes/feedback.jade
        #title
            p Login
    #content

        #loginform
            form(action='/login/create',method='post')

                #facebookalias
                label(for='newfbalias') Facebook naam
                      input(type='text', name='newfbalias')

                #facebookid
                label(for='newfbid') Facebook ID
                      input(type='text', name='newfbid')

                #facebooktoken
                label(for='newfbtoken') Facebook Token
                      input(type='text', name='newfbtoken')

                #submit
                input(type='submit', name='create', value='Aanmaken')

        #recentlogin
            p recent
            #loginlist
                form(method='POST', action='/login/select')
                    each fbid in accounts
                      input(type='radio', name='fbid', value=fbid.FacebookId)
                      = fbid.Alias + ' (' + fbid.FacebookId + ')'
                      br
                    br
                    input(type='submit', name='select' value='Inloggen')

    #footer