extends layout

block content
  #wrapper
    #header
        #logo
        #facebook
            include ./includes/feedback.jade
        #title
            p Status
    #content

        #dropdown
            p Change search
            select(name="selectsearch" class="searchdrop")
                for result in searchorders
                    option(value="#{result.order_id}") #{result.val}

        #stats
            input(type='submit', id="reload" class="submit_btn", value='load data')
            // p count match: 150
            // p lorem: 11
            // p ipsum: 2

        #matchlist

    #footer
        #arrow_wrapper
            a(href="/login")
                .arrow
                    p login
            a(href="/filters")
                .arrow
                    p filters
            a(href="/pickuplines")
                .arrow
                    p pick up
            .arrow_active
                p match

    #panel