body {
  padding: 50px;
  font: 14px 'Roboto', "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/grey_wash_wall.png");
}

a {
  color: #00B7FF;
}

#wrapper{
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 30px 0px rgba(51,51,51,1);
    border: 1px dotted #f15a24;
}

#header{
    width: 100%;
    height: 99px;
    overflow: hidden;
    margin: 10px;
}

#divider{
    background-image: url("../images/divider.png");
    height: 2px;
    width: 100%;
    opacity: 0.5;
}

#logo{
    background-image: url("../images/thunder_logo.png");
    height: 89px;
    width: 250px;
    float: left;
}

#title p{
    margin: 0;
    padding: 0;
}

#title{
    width: 300px;
    height: 89px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
    color: #f15a24;
    font-family: 'Amaranth', sans-serif;
    font-weight: 700;
}

input{
    float: right;
}

#loginform{
    width: 450px;
    height: 450px;
    float: left;
    margin-left: 25px;
}

#recentlogin{
    width: 450px;
    height: 450px;
    float: right;
}

#loginlist{
    min-height: 350px;
    margin-right: 25px;
}

#facebookid{
    width: 100%;
    overflow: hidden;
    height: 30px;
}

#facebooktoken, #facebookid, #facebookalias{
    width: 100%;
    overflow: hidden;
    height: 30px;
}

#submit{
    width: 100%;
    overflow: hidden;
    height: 30px;
}

#facebook{
    float: right;
    width: 300px;
    height: 89px;
}

#content{
    width: 100%;
    min-height: 500px;
}

#footer{
    width: 990px;
    height: 60px;
    background-color: #f15a24;
}

#gender{
    margin-top: 50px;
    width: 350px;
    float: left;
    height: 50px;
}

#gender p{
    float: left;
    margin-right: 25px;
}

#age{
    width: 590px;
    float: left;
    margin-left: 25px;
    margin-top: 3px;
}

#age_wrap{
    width: 800px;
    height: 30px;
    float: left;
    margin-top: 10px;
}

#age_wrap input{
    width: 50px;
}

#age_left{
    float: left;
}

#age_right{
    float: right;
}

#location_wrap{
    width: 800px;
    height: 50px;
    overflow: hidden;
}

#location{
    width: 800px;
    margin-top: 25px;
    float: left;
}

#location input{
    float: right;
    width: 350px;
    margin-top: 0;
    float: left;
}

.locationlabel{
    float: left;
    margin-right: 25px;
}

#sample{
    width: 620px;
    margin-top: 25px;
    float: left;
}

#filtersubmit{
    float: right;
}

#wrapper #pickuplinessubmit{
    float: right;
}

#pickup #submit{
    margin-top: 25px;
}

#range_wrap{
    width: 800px;
    height: 50px;
    margin-top: 25px;
}

#range_wrap P{
    float: left;
    margin-top: 0px;
    margin-right: 25px;
}

#age_wrap p{
    float: left;
    margin-top: 0px;
    margin-right: 25px;
}

#range{
    width: 250px;
    float: left;
}

#rangekm{
    float: left;
    margin-left: 25px;
}

#content.filters{
    width: 800px;
    margin: 0 auto;
}

#submit.filters{
    float: left;
    width: 150px;
    margin-top: 50px;
}

#submit .pickuplines{
    float: left;
    margin-top: 50px;
}

.pickupline{
    width: 750px;
}

.line{
    width: 800px;
    float: left;
    margin-top: 25px;
}

#pickup{
    margin: 0 auto;
    width: 800px;
}

#sample_wrap{
    width: 800px;
    height: 50px;
    overflow: hidden;
}

#sample_wrap input{
    width: 50px;
    float: right;
    margin-top: 25px;
}

#sample_wrap p {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

#arrow_wrapper{
    margin: 0px auto;
    width: 476px;
    height: 35px;
    padding-top: 13px;

}

#arrow_wrapper p{
    font-family: 'Amaranth', sans-serif;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    top: -16px;
    left: 27px;
}

.arrow_active{
    background-image: url("../images/arrow_white.png");
    height: 35px;
    width: 119px;
    float: left;
    color: #f15a24;
}

.arrow{
    background-image: url("../images/arrow_orange.png");
    height: 35px;
    width: 119px;
    float: left;
    color: #fff;
}

a .arrow:hover{
    background-image: url("../images/arrow_white.png");
    color: #f15a24;
}

.submit_btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.submit_btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}

.submit_btn:active {
    position:relative;
    top:1px;
}

#loginlist li{
    border-bottom: 1px dotted #7f7f7f;
    height: 20px;
    margin-top: 10px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#loginlist li input{
    position: relative;
    top: -5px;
    z-index: 10;
}

#loginlist li p{
  position: relative;
  top: -5px;
  z-index: 1;
  cursor: pointer;
}

.inputs {
    background: #D3D3D3;
    background: -moz-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D3D3D3), color-stop(38%, #D9D9D9), color-stop(82%, #E5E5E5), color-stop(100%, #E7E7E7));
    background: -webkit-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%);
    background: -o-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%);
    background: -ms-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%);
    background: linear-gradient(to bottom, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#e7e7e7', GradientType=0 );
    display: block;
    padding: 12px 10px;
    color: #999;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
    border: 0px solid rgba(16, 103, 133, 0.6);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5), inset 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    outline: 0;
    width: 270px;
    position: relative;
    top: -10px;
}

#dropdown{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-left: 25px;
}

#dropdown p{
    float: left;
    margin-right: 10px;
    margin-top: 0;
}

#dropdown .searchdrop{
    float: left;
}

#matchlist{
    width: 936px;
    min-height: 50px;
    height: auto;
    overflow: hidden;
    margin: 25px;
}

.match{
    width: 300px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    border: 1px dotted #f15a24;
    overflow: hidden;
}

.photo_wrap{
    height: 150px;
    width: 150px;
    background-image: url("../images/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}

.photo{
    height: 150px;
    width: 150px;
    background-image: url("../images/tinderlogo.png");
    background-size: 150px 150px;
}

.wrap_text{
    width: 150px;
    height: 150px;
    float: left;
}

.text{
    width: 150px;
    height: 100px;
    float: left;
    overflow: hidden;
}

.button{
    width: 140px;
    height: 25px;
    float: left;
}

#stats{
    height: 25px;
    width: 900px;
    margin-left: 25px;
}

#stats p{
    float: left;
    margin-right: 25px;
}